body {
  background-color: #c1cfe6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 300px;
  padding-top: 20px;
}

h1 {
  text-align: center;
  background-image: linear-gradient(to bottom right, #ee9ca7, #ffdde1);
  margin: 0;
  font-size: 30px;
  color: white;
  padding-bottom: 10px;
  border-radius: 10px 10px 0 0;
}

.deco {
  background-color: azure;
  height: 400px;
  margin: 0;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}
li {
  position: relative;
}

/* When clicked on, strike out text */
ul li.checked {
  text-decoration: line-through;
}

/* Trash Bin */
.fa-trash {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 90%;
  margin-top: 5px;
}

/* Text Input */
.input {
  display: inline-block;
  width: 100%;
  height: 30px;
  border: none;
  padding: 0;
  background-color: #e8edec;
}

/* Add button */
.fa-plus-circle {
  display: inline-block;
  width: 100%;
  height: 45px;
  text-align: center;
  font-size: 35px;
  padding-top: 5px;
  background-image: linear-gradient(to right, #ee9ca7, #ffdde1);
  cursor: pointer;
  border-radius: 0 0 10px 10px;
}
